@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pangolin&display=swap');
:root{
  --black: rgb(37, 17, 94);
  --white:rgb(231, 225, 225);
  --hover:#cd28f7;
  --border: .1rem solid rgba(0,0,0,.1);
 --box-shadow:0 .5rem 1rem rgba(0,0,0,.5) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Основной текст */
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

}

body {
  background-image: url('fon5.webp'); /* Замените на путь к вашему изображению */
  background-size: cover; /* Убедитесь, что изображение покрывает всю страницу */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  background-attachment: fixed; /* Фон остается на месте при прокрутке страницы */
  background-position: center; /* Центрирует изображение по вертикали и горизонтали */
/* Добавляем полупрозрачный наложенный слой */
background-color:rgb(231, 225, 225, 0.6); /* Белый цвет с прозрачностью 50% */
background-blend-mode: lighten; /* Смешивание для прозрачности */
    

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* Плавный скролл */
  overflow-x: hidden;
 
}

section {
  padding: 1rem 10%;
}

.header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow); /* Добавление тени */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 70px;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--black);
  transition: 0.5s;
  text-transform: capitalize;
}

.header .navbar a:hover {
  color: var(--hover);
}

#menu {
  font-size: 3.5rem; /* Увеличение размера иконки */
  cursor: pointer;
  display: none;
}

/* Стили логотипа */
.logo {
  font-size: 27px;
  font-weight: bold;
  background: linear-gradient(to right, #ce2af3, #7bfe86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(218, 27, 231, 0.3);
}


  /* Главная */
header {
    width: 100%;
    background: url(fon5.webp) no-repeat;
    background-size: cover;
  }
.glavnaja {

  background: url(woman2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 100vh;
  margin-top: 45px;
}

.glavnaja h1 {
  font-size: 35px;
  color: rgb(37, 17, 94);
  text-align: center;
  padding-top: 120px;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 50px;
}

.glavnaja h2 {
  line-height: 1.7;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  color: rgb(37, 17, 94);
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify; 
}

html {
  scroll-behavior: smooth; 
}
/*Услуги*/

#uslugi {
  margin-top: 50px;
font-size: 35px;
white-space: nowrap;
overflow: hidden;
color: rgb(37, 17, 94);
font-weight: 900;
text-align: center;
text-decoration: underline;

}

.glavnaja-text1 h3 {
font-size: 23px;
margin-right: 50px;
font-weight: 700;
line-height: 1.7;
color: rgb(37, 17, 94);
text-align: center;
width: 100%;
background: linear-gradient(180deg, rgba(231, 225, 225, 0.9), rgba(151, 99, 236, 0.3));
padding: 20px;
border-radius: 10px;
margin-top: 40px;
}



.text {
  width: 100%;
}
.text h2 {
color: rgb(68, 9, 84);
font-size: 25px;
font-weight: 700;
text-transform: uppercase;
margin-top: 50px;
margin-left: 70px;
text-align: center;
letter-spacing: 2px;
margin-bottom: 50px;
}

.text p {
 
color: rgb(37, 17, 94);
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
margin: 0 160px; 
line-height: 1.5;
}

.video-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: -70px;
 margin-bottom: -180px;
  height: 100vh; 
}

.video-container video {
  width: 50%;
  height: auto;

  border: 5px solid #ceaaf7;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom:100px;
}

.styled-text::before {
  content: "• ";
  color: black; 
  font-size: 30px; 
  
}
/*Теропия*/
therapy-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 45px;
    background: url(foto1.webp) center/cover no-repeat;
    margin-top:-500px; /* Отступ снизу */
  
}

.therapy-container::before {


  opacity: 0.5;
  z-index: -1;
}
.therapy-title {
  font-size: 35px; /* Размер текста */
  color: rgb(68, 9, 84);;
   font-weight: bold; /* Жирный текст */

  text-align: center; /* Выравнивание по центру */
  padding-top: 20px; /* Сохранит гармоничное расположение */


}


.therapy-container {
  font-family: 'Arial', sans-serif;
  color: rgb(37, 17, 94);
  background: rgb(231, 225, 225 0.8); /* Белый фон с прозрачностью */
  padding: 20px;
  margin: 50px auto;
  width: 90%;
  border-radius: 15px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для эффекта объема */
  background: url(foto1.webp) center/cover no-repeat;
  height: 100vh;
}

.therapy-container h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}

.therapy-container h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  font-style: italic;

}

.therapy-container p {
  line-height: 1.8;
  font-size: 19px;
  text-align: justify; /* Растягивает текст по ширине */
  margin-bottom: 15px;
  color: rgb(50, 50, 150); /* Нежный оттенок текста */
  background: linear-gradient(to right, rgba(230, 230, 250, 0.8), rgba(250, 250, 255, 0.8)); /* Градиентный фон для текста */
  padding: 10px; /* Отступы внутри абзаца */
  border-radius: 5px; /* Скругленные углы */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Легкая тень вокруг текста */
  transition: transform 0.3s, background 0.3s; /* Плавный эффект при наведении */
  font-style: italic;
}

.therapy-container p:hover {
  transform: scale(1.10); /* Легкое увеличение при наведении */
  background: linear-gradient(to right, rgba(220, 220, 240, 1), rgba(240, 240, 255, 1)); /* Яркий эффект градиента при наведении */
}

/*Инфо*/
#inform {
  font-size: 35px; 
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  margin-right: 50px;
  text-decoration: underline; 
  margin-top: -10px;
  font-size: 35px;
  line-height: 1.7;
  color: rgb(37, 17, 94);
  text-align: center;

}
.glavnaja-text2 p{
  text-align: center;
  text-align: left;
  font-size: 25px; 
  margin-top: 50px; 
  font-weight: 600;
  font-family: 'Roboto', sans-serif; 
  line-height: 1.8; 
  margin: 20px;
  color: rgb(37, 17, 94);
  font-style: italic;
  margin-left: 50px;
  text-align:justify;
}
.video-container-info {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.video-container-info video {
  width: 50%;
  height: auto;
  margin-top: -200px;
  border: 5px solid #ceaaf7;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
  /*<!--КОНТАКТЫ-->*/
  #kontakty {
    font-size: 35px; /* Further reduce font size for compact screens */
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    margin-right: 50px;
    text-decoration: underline; /* Добавляет подчеркивание текста */
    margin-top: -200px;
    line-height: 1.7;
    color: rgb(37, 17, 94);
    text-align: center;
    margin-bottom: 50px;
  
  }

  .glavnaja-kontakty h5{
    margin-left: 50px;
    color: rgb(37, 17, 94);
    font-size: 27px;
    font-weight: 700;
    margin-top: 50px;
  
  }
  .glavnaja-kontakty1{
    margin-left: 100px;
  
  }
  .glavnaja-kontakty1 h6{
    width: 50%;
    text-align: justify; /* Растягивает текст по всей ширине */
  margin-top: 80px;
    font-size: 22px;
    font-weight: 600;
  
    line-height: 1.5; /* 1.2 означает 120% от размера шрифта */
  margin-left: -20px;
  margin-right: 50px;
  color: rgb(37, 17, 94);
  
  }
  .image2 {
    display: block; /* Делает изображение блочным элементом */
    margin-left: auto; /* Отступ слева автоматический */
    margin-right:50px; /* Изображение будет приближаться к правому краю */
    height: auto;
  width: 30%;
    margin-top: -280px;
    margin-bottom: 130px;
  }
  
  .vstrechy{
    color: rgb(37, 17, 94);
    font-size: 25px;
    margin-left:180px;
    margin-top: -60px;
    font-weight: 900;
  
  }
  .whatsApp {
    color: rgb(37, 17, 94);
    font-size: 25px;
    margin-left: 150px;
    margin-top: 20px;
    font-weight: 900;
    padding-bottom: 20px;
  }
  .kontakty_ramka {
    background: linear-gradient(to bottom, rgb(231, 225, 225, 0.8),  rgb(106, 13, 173, 0.4)); /* Прозрачный градиент */
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #6a0dad, #a15ff7);
    border-image-slice: 1;
    box-sizing: border-box;
  }
/* Основной стиль для раздела "обратная связь" */
#svjaz {
  font-size: 35px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  margin-right: 50px;
  text-decoration: underline;
  margin-top: 70px;
  line-height: 1.7;
  color: rgb(37, 17, 94);
  text-align: center;
}
.glavnaja-text4 img {
  width: 45%; 
  margin-top: 50px;
}

.container1 {
  margin-top: 50px;
  width: 100%; 
  background: linear-gradient(to bottom, rgba(231, 225, 225, 0.8), rgba(106, 13, 173, 0.4)); 
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #6a0dad, #a15ff7);
  border-image-slice: 1;
  padding: 50px; 
  box-sizing: border-box; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
  
}
.contact-form {
  position: relative;
  width: 70%;
  max-width: 350px; 
  margin-right: 300px;
  
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 60px; 
  font-size: 25px;
  font-weight: 900;
}
.name {
  width: 70%;
}
.mail,
.phone {
  width: 250px;
}
.text_area {
  margin-top: 35px;
  border: 1px solid #fff;
  border-radius: 13px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.message {
  font-size: 1px;
  color: gray;
}
textarea {
  margin-top: 2px;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #fff;
  width: 100%;
}
textarea:focus::placeholder {
  color: darkslategray;
}
textarea:focus {
  outline: none;
}
.send {
  width: 100%;
}
button {
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: aqua;
  border-radius: 5px;
  border: 1px solid aqua;
  background: rgba(0, 0, 0, 0.3);
  transition: transform 0.2s; /* Плавный переход для эффекта нажатия */
}
button:hover {
  background: #0000008a;
}
button:active {
  transform: translateY(2px);
}
.section-subtitle {
  font-size:1rem;
  color: dodgerblue;
}
.contact-form,
.contact-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 20px;
}
.contact-input {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: #131735;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.contact-input::placeholder {
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.2;
}
.contact-form textarea {
  height: 7rem; 
  resize: none;
}
.contact-messaged {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
.button {
  display: inline-block;
  width: 18rem;
  margin: -1rem auto;
  font-size: 1.6rem;
  background-color: dodgerblue;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s; 
}

.button:hover {
  box-shadow: 0 8px 25px rgb(38, 0, 49);
}
/*FOOter*/
footer {
  background-color: var(--white);
  color: #b014be;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content ul.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.footer-content ul.socials li {
  margin: 0 10px;
}

.footer-content ul.socials a {
  color: #b014be;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
}


     /*НАЧАЛО ШАПКИ*/
@media (max-width:1200px){
  section{
    padding: 3rem 5%;
  }
/* Форма обратной связи */
.contact-form {
  position: relative;
  width: 70%;
  max-width: 350px; 
  margin-right: 190px;
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 60px; 
  font-size: 22px;
}
}
@media (max-width:991px){
  section{
    padding: 3rem 2rem;
  }
  html{
    font-size: 55%;
  }
  /* Стили для текста Psihilogy */
.logo {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(to right, #ce2af3, #7bfe86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
 
    color: #333;
    text-shadow: 2px 2px 5px rgba(218, 27, 231, 0.3);
}
 /*<!--КОНТАКТЫ-->*/

.glavnaja-kontakty h5{

  font-size: 25px;
  

}
.glavnaja-kontakty1{
  margin-left: 100px;

}
.glavnaja-kontakty1 h6{
margin-top: 50px;
  font-size: 20px;
}
.image2 {
  margin-top: -250px;
}
.vstrechy{
  font-size: 20px;
  margin-left:80px;
  margin-top: -80px;
}
.whatsApp {
  font-size: 20px;
  margin-left: 150px;
  margin-top: 10px;

}
/* Форма обратной связи */
.container1 {
  margin-top: 50px;
  width: 100%; 
}
.contact-form {
  position: relative;
  width: 70%;
  max-width: 350px; 
  margin-right: 150px;
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 20px; 
  font-size: 20px;
}
}
@media (max-width:890px){

  /*ГЛАВНАЯ*/
  .glavnaja h1 {
    font-size: 27px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .glavnaja h2 {
    line-height: 1.6;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 30px;
   
  }
/*УСЛУГИ**/
  .text h2 {
  font-size: 22px;
  margin-left: 20px;
margin-bottom: 10px;
  }
 
  .text p {
  font-size: 15px;
margin: 0 50px;
  line-height: 1.2;
  }
  .video-container video {
    width: 60%;
    margin-top: 20px;
  }
  .glavnaja-text2 p{
    font-size: 22px; 
    margin-top: 50px; 
    line-height: 1.6;
    margin: 20px;
  }
  .video-container-info video {
    width: 50%;
    height: auto;
  
    border: 5px solid #ceaaf7;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  }
  /*Теропия*/

.therapy-title {
  font-size: 30px; /* Размер текста */
}

.therapy-container h1 {
  font-size: 30px;
}
.therapy-container h2 {
  font-size: 27px;
}

.therapy-container p {
  line-height: 1.5;
  font-size: 19px;
}

  /*Инфо*/
#inform {
  margin-top: 80px;

}
.glavnaja-text2 p{
  font-size: 22px; 
  line-height: 1.6; 
  text-align:justify;
}
.video-container-info video {
  width: 60%;
  margin-top: -250px;
}
 /*<!--КОНТАКТЫ-->*/

 .glavnaja-kontakty h5{
  font-size: 25px;
  margin-left:  20px;
}
.glavnaja-kontakty1{
  margin-left: 100px;
}
.glavnaja-kontakty1 h6{
  width: 60%;
margin-top: 30px;
  font-size: 18px;
  margin-left:  -60px;
}
.image2 {
  margin-top: -200px;
}
.vstrechy{
  font-size: 20px;
  margin-left:80px;
  margin-top: -80px;
}
.whatsApp {
  font-size: 20px;
  margin-left: 150px;
  margin-top: 10px;
}
/* Форма обратной связи */
.container1 {
  margin-top: 50px;
  width: 100%; 

}
.contact-form {
  position: relative;
  width: 70%;
  max-width: 350px;
  margin-right: 100px;


}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 18px; 
  font-size: 20px;

}

  }
@media (max-width:768px){
  section{
    padding: 3rem 5%;

  }
  .header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--white);
    border-top:var(--border) ;
    box-shadow: var(--box-shadow);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 1%);
transition: 0.5s;
  }
  .header .navbar a{
    display: block;
    margin: 2rem 0;
  }
  #menu{
display: block;
  
}
.header .navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/*заканчивается боковое меню*/

/*ГЛАВНАЯ*/
.glavnaja h1 {
  font-size: 29px;
  margin-left: 0;
  margin-right: 0;
}

.glavnaja h2 {
  line-height: 1.5;
  font-size: 23px;
  margin-left: 50px;
  margin-right: 50px;
 
}
/*Услуги*/
.glavnaja-text1 h3 {
font-size: 19px;
line-height: 1.5;
}
.text h2 {
  font-size: 18px;
  margin-left: 30px;
margin-bottom: 10px;
  }
  
  .text p {
  font-size: 14px;
margin: 0 30px;
  line-height: 1.5;
  }
  .video-container video {
    width: 70%;
    margin-top: 10px;
  
  }
  .styled-text::before {
 
    font-size: 25px; /* Размер точки */
    
  }
   /*Теропия*/


.therapy-container p {
  line-height: 1.2;
  font-size: 17px;
}
/*Инфо*/

  #inform {
    margin-top: 50px;
  
  }
  .glavnaja-text2 p{
    font-size: 20px; 
    line-height: 1.5; 
    text-align:justify;
  }

  
  .video-container-info video {
    width: 80%;
    margin-top: -200px;
  }
   /*<!--КОНТАКТЫ-->*/

 .glavnaja-kontakty h5{
  font-size: 20px;
  margin-left:  20px;
}
.glavnaja-kontakty1{
  margin-left: 100px;
}
.glavnaja-kontakty1 h6{
  width: 60%;
margin-top: 30px;
  font-size: 15px;
  margin-left:  -60px;
}
.image2 {
  margin-top: -170px;
}
.vstrechy{
  font-size: 15px;
  margin-left:80px;
  margin-top: -80px;
}
.whatsApp {
  font-size: 15px;
  margin-left: 50px;
  margin-top: 10px;
}
/* Форма обратной связи */
.glavnaja-text4 img{
  width: 80%;
  margin-left: 50px;
}

.container1 {
  margin-top: 50px;
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 50px;
}
.contact-form {
  position: relative;
  width: 90%;

}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 18px; 
margin-left: 160px;


}
.section-title h4{
  margin-top: 18px;
  font-size: 20px;
 margin-left: -10px;
  width: 100%;
  font-weight: 800;
  white-space: nowrap; 
}
}

@media (max-width:640px){
/* Форма обратной связи */
.glavnaja-text4 img{
  width: 90%;
  margin-left: 20px;
}

.container1 {
  margin-top: 50px;
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 50px; 
}
.contact-form {
  position: relative;
  width: 100%;
 
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 18px; 
  font-size: 20px;
margin-left:80px;


}
.section-title h4{
  margin-top: 18px; 
  font-size: 20px;
 margin-left: 10px;
  width: 100%;
  font-weight: 800;
  white-space: nowrap; 
}
}
@media (max-width:540px){
  section{
    padding: 3rem 5%;

  }
/*ГЛАВНАЯ*/
.glavnaja h1 {
  font-size: 25px;
  margin-left: 0;
  margin-right: 0;
}

.glavnaja h2 {
  line-height: 1.5;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
 
}
/*Услуги*/
.glavnaja-text1 h3 {
  font-size: 15px;
  line-height: 1.5;
  }
  .text h2 {
    font-size: 14px;
    margin-left: 5px;
  margin-bottom: 10px;
    }
    
    .text p {
    font-size: 12px;
  margin: 0 30px;
    line-height: 1.5;
    }
    .video-container video {
      width: 80%;
      margin-top: -70px;
      margin-bottom: -20px;
    
    }
    .styled-text::before {
 
      font-size: 20px; /* Размер точки */
      
    }
    /*Теропия*/

.therapy-title {
  font-size: 27px; /* Размер текста */
}

.therapy-container h1 {
  font-size: 22px;
}
.therapy-container h2 {
  font-size: 20px;
}

.therapy-container p {
  line-height: 1.2;
  font-size: 17px;
}
/*Инфо*/

#inform {
  margin-top: 50px;

}
.glavnaja-text2 p{
  font-size: 20px; 
  line-height: 1.5; 
  text-align:justify;
}


.video-container-info video {
  width: 80%;
  margin-top: -320px;
}
       /*<!--КОНТАКТЫ-->*/
#kontakty{
  margin-top: -300px;
  margin-left:  50px;
}
 .glavnaja-kontakty h5{
  font-size: 20px;
  margin-left:  20px;

}
.glavnaja-kontakty1{
  margin-left: 100px;
}
.glavnaja-kontakty1 h6{
  width: 100%;
margin-top: 30px;
  font-size: 15px;
  margin-left:  -60px;
}
.image2 {
  margin-top: 30px;
  width: 70%;
margin-left: 5px;

}
.vstrechy{
  font-size: 14px;
  margin-left:20px;
  margin-top: -100px;
}
.whatsApp {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 10px;
}
.kontakty_ramka {
margin-top: 20px;
}
/* Форма обратной связи */


.contact-form {
  position: relative;
  width: 95%;
 
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 18px; 
  font-size: 20px;

margin-left: 60px;

}
.section-title h4{
  margin-top: 18px; 
  font-size: 20px;
 margin-left: 10px;
  width: 100%;
  font-weight: 800;
  white-space: nowrap; 
}
}

@media (max-width:470px){
/* Форма обратной связи */

#svjaz {
  font-size: 30px;
  margin-right: 10px;
}

.glavnaja-text4 img{
  width: 90%;
  margin-left: 20px;
}

.container1 {
  margin-top: 50px;
  width: 100%; 
  display: flex;
  flex-direction: column; 
  gap: 50px; 

}
.contact-form {
  position: relative;
  width: 95%;
 
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 18px; 
  font-size: 20px;

margin-left: 30px;

}
.section-title h4{
  margin-top: 18px; 
  font-size: 20px;
 margin-left: 0;
  width: 100%;
  font-weight: 800;
  white-space: nowrap; 
}
}

@media (max-width:430px){

/*ГЛАВНАЯ*/
.glavnaja h1 {
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
}

.glavnaja h2 {
  line-height: 1.4;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
 
}
/*Услуги*/
.glavnaja-text1 h3 {
  font-size: 13px;
  line-height: 1.5;
  }
  .text h2 {
    font-size: 13px;
    margin-left: 5px;
  margin-bottom: 10px;
    }
    
    .text p {
    font-size: 11px;
  margin: 2px 30px;
    line-height: 1.3;
    }
    .video-container video {
      width: 90%;
      margin-top: -200px;

    
    }
    .styled-text::before {
 
      font-size: 20px; /* Размер точки */
      
    }
     /*Теропия*/

.therapy-title {
  font-size: 25px; /* Размер текста */
  margin-top: -270px;
}

.therapy-container h2 {
  font-size: 18px;
}

.therapy-container p {
  line-height: 1.2;
  font-size:14px;
}
    /*INFO*/
    #inform {
      margin-top: -20px;
      margin-left: 50px;
    
    }
    .glavnaja-text2 p{
      font-size: 17px; 
      line-height: 1.5;
      text-align:justify;
    }
  
    
    .video-container-info video {
      width: 80%;
      margin-top: -370px;
    }
        /*<!--КОНТАКТЫ-->*/
        #kontakty{
          margin-top: -370px;
          margin-left: 50px;
        }
.image2 {
  margin-top: 30px;
  width: 70%;
margin-left: -20px;

}
.vstrechy{
  font-size: 13px;
  margin-left:20px;
  margin-top: -100px;
}
.whatsApp {
  font-size: 13px;
  margin-left: 20px;
  margin-top: 10px;

}
/* Форма обратной связи */

.glavnaja-text4 img{
  width: 100%;
  margin-left: -10px;
}
.container1 {
  margin-top: 50px;
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 50px; 
}
.contact-form {
  position: relative;
  width: 100%;
  margin-right: 0;

}
.section-title {
  color: rgb(37, 17, 94);
  margin-top: 18px; 
  font-size: 20px;


}
.section-title h4{
  margin-top: 12px; 
  font-size: 15px;

 
  font-weight: 800;
  white-space: nowrap; 
}
}