:root{
  --black: rgb(37, 17, 94);
  --white:rgb(231, 225, 225);
  --hover:#cd28f7;
  --border: .1rem solid rgba(0,0,0,.1);
 --box-shadow:0 .5rem 1rem rgba(0,0,0,.5) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Основной текст */
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

}


  
body {
  background: url('1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color:rgb(231, 225, 225, 0.6); /* Белый цвет с прозрачностью 50% */
background-blend-mode: lighten; /* Смешивание для прозрачности */
    


}




html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* Плавный скролл */
  overflow-x: hidden;
 
}

section {
  padding: 1rem 10%;
}

.header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow); /* Добавление тени */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 70px;
}

.header .navbar a {
  font-size: 1.6rem;
  margin-left: 0.9rem;
  color: var(--black);
  transition: 0.5s;
 
  
}

.header .navbar a:hover {
  color: var(--hover);
  text-decoration: underline;
}

#menu {
  font-size: 3.5rem; /* Увеличение размера иконки */
  cursor: pointer;
  display: none;
}



.logo img{
  height: 60px;
 
    border-radius: 50%;
  
  
}


.image2 {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 90px;
  text-align: center;
  position: relative;
  top: 10px;
}

.imgAntimassaz{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 70px;
  text-align: center;
  position: relative;

}
.imgAromamassaz{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 70px;
  text-align: center;
  position: relative;

}
.imgBeremenih{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 70px;
  text-align: center;
  position: relative;

}
.imgMassaz-ruk{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 70px;
  text-align: center;
  position: relative;

}
.massaz-klassish {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: slideIn 1s ease-in-out;
  overflow: hidden; /* Чтобы видео не выходило за границы */
}

.video-massaz-klassish {
  display: block;

 width: 100%;
  object-fit: cover;
  height: auto;
}

.imgMassaz-medovii{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 70px;
  text-align: center;
  position: relative;

}
/*FOOter*/
footer {
  background-color: var(--white);
  color: #b014be;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content ul.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.footer-content ul.socials li {
  margin: 0 10px;
}

.footer-content ul.socials a {
  color: #b014be;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
}
  /*НАЧАЛО ШАПКИ*/
@media (max-width:1200px){
  section{
    padding: 3rem 5%;
  }


}
@media (max-width:991px){
  section{
    padding: 3rem 2rem;
  }
  html{
    font-size: 55%;
  }
  
  .aromamassaz{
    margin-top:100px;
  }
    
}

  @media (max-width:768px){
    section{
      padding: 3rem 5%;
  
    }
    .header .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0 2rem;
      background-color: var(--white);
      border-top:var(--border) ;
      box-shadow: var(--box-shadow);
      clip-path: polygon(0 1%, 100% 0, 100% 0, 0 1%);
  transition: 0.5s;
    }
    .header .navbar a{
      display: block;
      margin: 2rem 0;
    }
    #menu{
  display: block;
    
  }
  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
}
/*заканчивается боковое меню*/
@media (max-width:430px){
  section{
    padding: 3rem 5%;

  }
  .header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--white);
    border-top:var(--border) ;
    box-shadow: var(--box-shadow);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 1%);
transition: 0.5s;
  }
  .header .navbar a{
    display: block;
    margin: 3rem 0;
  }
  #menu{
display: block;
  
}
.header .navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.navbar a{

 margin-right: 70px;
 font-size: 70px;
 
 text-decoration: underline;
 font-weight: bold;
 background: linear-gradient(to right, #9c1db9, #5cf569);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;


  text-decoration: underline;


}
.imgAntimassaz{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 70px;
  text-align: center;
  position: relative;

}
.imgAromamassaz{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: -50px;
  text-align: center;
  position: relative;

}
.imgBeremenih{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 50px;
  text-align: center;
  position: relative;

}
.imgMassaz-ruk{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 50px;
  text-align: center;
  position: relative;

}
.massaz-klassish {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: -200px;
  animation: slideIn 1s ease-in-out;
  overflow: hidden; /* Чтобы видео не выходило за границы */
}



.imgMassaz-medovii{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: -200px;
  text-align: center;
  position: relative;

}
}