
:root{
  --black: rgb(37, 17, 94);
  --white:rgb(231, 225, 225);
  --hover:#cd28f7;
  --border: .1rem solid rgba(0,0,0,.1);
 --box-shadow:0 .5rem 1rem rgba(0,0,0,.5) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Основной текст */
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

}
body {
  background: url('2.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color:rgb(231, 225, 225, 0.6); /* Белый цвет с прозрачностью 50% */
background-blend-mode: lighten; /* Смешивание для прозрачности */
    


}

header {
  background-image: url('fon5.webp'); /* Замените на путь к вашему изображению */
  background-size: cover; /* Убедитесь, что изображение покрывает всю страницу */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  background-attachment: fixed; /* Фон остается на месте при прокрутке страницы */
  background-position: center; /* Центрирует изображение по вертикали и горизонтали */
/* Добавляем полупрозрачный наложенный слой */
background-color:rgb(231, 225, 225, 0.6); /* Белый цвет с прозрачностью 50% */
background-blend-mode: lighten; /* Смешивание для прозрачности */
    

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* Плавный скролл */
  overflow-x: hidden;
 
}

section {
  padding: 1rem 10%;
}

.header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow); /* Добавление тени */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 70px;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--black);
  transition: 0.5s;
  text-transform: capitalize;
}

.header .navbar a:hover {
  color: var(--hover);
}

#menu {
  font-size: 3.5rem; /* Увеличение размера иконки */
  cursor: pointer;
  display: none;
}

/* Стили логотипа */
.logo {
  font-size: 27px;
  font-weight: bold;
  background: linear-gradient(to right, #ce2af3, #7bfe86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(218, 27, 231, 0.3);
}
.logo img{
  height: 60px;
 
    border-radius: 50%;
  
  
}
  /* Главная */
header {
    width: 100%;
  
    background-size: cover;
position: relative;
    background-color: rgba(255, 255, 255, 0.5); /* Белый фон с прозрачностью */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('1.jpg') no-repeat center/cover;
    opacity: 2; /* Сделает изображение прозрачным */
    z-index: -1;
}

.glavnaja {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 100vh;
  margin-top: 45px;
  text-align: center;
}
.glavnaja a{
  color: rgb(37, 17, 94);
  text-decoration: underline;
  text-shadow: 3px 3px 8px rgba(37, 17, 94, 0.5); /* Добавляет тень */
  font-style: italic;
  
}
.glavnaja h1 {
  font-size: 35px;
  color: rgb(37, 17, 94);

  padding-top: 70px;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: underline;
  text-shadow: 3px 3px 8px rgba(37, 17, 94, 0.5); /* Добавляет тень */
  
}

.glavnaja h2 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
  color: rgb(37, 17, 94);
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  font-style: italic;
  text-align: center;

  -webkit-text-stroke: 1px rgb(37, 17, 94); /* Контур вокруг букв */
}

.glavnaja h3 {

  line-height: 1.6;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  color: rgb(37, 17, 94);
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify; 
margin-top: 30px;
    font-style: italic;
   

    -webkit-text-stroke: 0.5px rgb(37, 17, 94); /* Контур вокруг букв */
    background: rgba(255, 255, 255, 0.6); /* Полупрозрачный фон */
  padding: 10px; /* Внутренние отступы */
  border-radius: 10px; /* Закругленные углы */
}

html {
  scroll-behavior: smooth; 
}
/*Услуги*/
a {
  color: #25115E; /* Цвет ссылки */
  text-decoration: none; /* Убирает подчёркивание */
  font-weight: bold;
}

a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

#uslugi {
  margin-top: 50px;
font-size: 35px;
white-space: nowrap;
overflow: hidden;
color: rgb(37, 17, 94);
font-weight: 900;
text-align: center;
text-decoration: underline;

}

.glavnaja-text1 h3 {
font-size: 23px;
margin-right: 50px;
font-weight: 700;
line-height: 1.7;
color: rgb(37, 17, 94);
text-align: center;
width: 100%;
background: linear-gradient(180deg, rgba(231, 225, 225, 0.9), rgba(151, 99, 236, 0.3));
padding: 20px;
border-radius: 10px;
margin-top: 40px;
}




  /*<!--КОНТАКТЫ-->*/
  #kontakty {
    font-size: 35px; /* Further reduce font size for compact screens */
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    margin-right: 50px;
    text-decoration: underline; /* Добавляет подчеркивание текста */
    margin-top: 30px;
    line-height: 1.7;
    color: rgb(37, 17, 94);
    text-align: center;
    margin-bottom: 50px;
  
  }



.image2 {
    display: block;
    width: 100%;
    height: auto; /* Высота изменяется в зависимости от содержимого */
    max-width: 1100px;
    height: 80vh;
    object-fit: contain;
    margin: 0 auto;
    text-align: center;
    object-fit: fill;

}

/* Основной стиль для раздела "обратная связь" */


.container1 {
  margin-top: 50px;
  width: 100%; 
  background: linear-gradient(to bottom, rgba(231, 225, 225, 0.8), rgba(106, 13, 173, 0.4)); 

  border-image-slice: 1;
  padding: 50px; 

    display: flex;
    align-items: center; /* Выравниваем элементы */
    justify-content: space-between; /* Уменьшаем расстояние */
  }
  
    
    


.name {
  width: 70%;
}
.mail,
.phone {
  width: 250px;
}
.text_area {
  margin-top: 35px;
  border: 1px solid #fff;
  border-radius: 13px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.message {
  font-size: 1px;
  color: gray;
}
textarea {
  margin-top: 2px;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #fff;
  width: 100%;
}
textarea:focus::placeholder {
  color: darkslategray;
}
textarea:focus {
  outline: none;
}
.send {
  width: 100%;
}
button {
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: aqua;
  border-radius: 5px;
  border: 1px solid aqua;
  background: rgba(0, 0, 0, 0.3);
  transition: transform 0.2s; /* Плавный переход для эффекта нажатия */
}
button:hover {
  background: #0000008a;
}
button:active {
  transform: translateY(2px);
}
.section-subtitle {
  font-size:1rem;
  color: dodgerblue;
}
.contact-form,
.contact-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 20px;
}
.contact-input {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: #131735;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.contact-input::placeholder {
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.2;
}
.contact-form textarea {
  height: 7rem; 
  resize: none;
}
.contact-messaged {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
.button {
  display: inline-block;
  width: 18rem;
  margin: -1rem auto;
  font-size: 1.6rem;
  background-color: dodgerblue;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s; 
}

.button:hover {
  box-shadow: 0 8px 25px rgb(38, 0, 49);
}

#svjaz {
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
  color: rgb(37, 17, 94);
  text-align: center; /* Центрируем заголовок */
  margin-bottom: 30px; /* Добавляем отступ */
  margin-top: 70px;
  height:70vh;
}

.glavnaja-text4 {
  display: flex;  
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: space-between;
  gap: 40px; /* Добавляем расстояние между изображениями и формой */
}

.image-stack {
  flex: 1; /* Даем изображению возможность занимать место */
  display: flex;
margin-left: 80px;
    flex: 1; /* Даем изображению больше места */
  }
  


.contact-form {

  position: relative;
 
  max-width: 350px; 
  margin-right: 300px;

    width: 100%;
    transform: translateX(-30px); /* Сдвигаем форму влево на 50px */

  
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top:-500px; 
  font-size: 25px;

    text-shadow: 
      -1px -1px 0px black,  
      1px -1px 0px black,   
      -1px 1px 0px black,   
      1px 1px 0px black;  
  
  
  transform: translateX(-70px); /* Сдвигаем форму влево на 50px */
}
/* diplomy" */

.image-stack img {
  width: 30%; /* Уменьшаем размер */
  height: auto;
 
    display: flex;
   
    position: absolute; /* Абсолютное позиционирование */

    transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
  }

.image-stack img {
  width: 40%;
  height: auto;
  display: block;
margin-left: 250px;
margin-top: -400px;
}

.image-stack {
  position: relative; /* Устанавливаем относительное позиционирование для контейнера */
  width: 300px; /* Укажите нужную ширину */
  height: 200px; /* Укажите нужную высоту */
}


#image1 {
  opacity: 1; /* Первое изображение видно */
}


#image2, #image3 {
opacity: 0; /* Скрываем второе и третье изображение */
}




/*FOOter*/
footer {
  background-color: var(--white);
  color: #b014be;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content ul.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.footer-content ul.socials li {
  margin: 0 10px;
}

.footer-content ul.socials a {
  color: #b014be;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
}


@media (max-width:1250px){

#svjaz {
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
  color: rgb(37, 17, 94);
  text-align: center; /* Центрируем заголовок */
  margin-bottom: 30px; /* Добавляем отступ */
  margin-top: 70px;
  height:70vh;
}

.glavnaja-text4 {
  display: flex;  
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: space-between;
  gap: 40px; /* Добавляем расстояние между изображениями и формой */
}

.image-stack {
  flex: 1; /* Даем изображению возможность занимать место */
  display: flex;
margin-left: 80px;
    flex: 1; /* Даем изображению больше места */
  }
  


.contact-form {

  position: relative;
 
  max-width: 350px; 
  margin-right: 300px;

    width: 100%;
    transform: translateX(-10px); /* Сдвигаем форму влево на 50px */

  
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top:-450px; 
  font-size: 25px;

    text-shadow: 
      -1px -1px 0px black,  
      1px -1px 0px black,   
      -1px 1px 0px black,   
      1px 1px 0px black;  
  
  
  transform: translateX(-20px); /* Сдвигаем форму влево на 50px */
}
/* diplomy" */

.image-stack img {
  height: auto;
 
    display: flex;
   
    position: absolute; /* Абсолютное позиционирование */

    transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
  }

.image-stack img {
  width: 55%;
  height: auto;
  display: block;
margin-left: 50px;
margin-top: -350px;
}

.image-stack {
  position: relative; /* Устанавливаем относительное позиционирование для контейнера */
  width: 300px; /* Укажите нужную ширину */
  height: 200px; /* Укажите нужную высоту */
}


#image1 {
  opacity: 1; /* Первое изображение видно */
}


#image2, #image3 {
opacity: 0; /* Скрываем второе и третье изображение */
}
}

     /*НАЧАЛО ШАПКИ*/
@media (max-width:1200px){
  section{
    padding: 3rem 1rem;
     /* Главная */

}
.navbar a{
  font-size: 20px;
}

.glavnaja h1 {
font-size: 30px;
padding-top: 70px;
font-weight: 800;
}

.glavnaja h2 {
font-size: 20px;
font-weight: 700;
margin-left: 70px;
margin-right: 70px;

 text-align: center;

}

.glavnaja h3 {

line-height: 1.7;
font-size: 20px;
font-weight: 700;
padding-top: 20px;
margin-left: 50px;
margin-right: 50px;
margin-top: 30px;
}
#svjaz {
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
  color: rgb(37, 17, 94);
  text-align: center; /* Центрируем заголовок */
  margin-bottom: 30px; /* Добавляем отступ */
  margin-top: 70px;
  height:70vh;
}

.glavnaja-text4 {
  display: flex;  
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: space-between;
  gap: 40px; /* Добавляем расстояние между изображениями и формой */
}

.image-stack {
  flex: 1; /* Даем изображению возможность занимать место */
  display: flex;
margin-left: 80px;
    flex: 1; /* Даем изображению больше места */
  }
  


.contact-form {

  position: relative;
 
  max-width: 350px; 
  margin-right: 300px;

    width: 100%;
    transform: translateX(-10px); /* Сдвигаем форму влево на 50px */

  
}
.section-title {
  color: rgb(37, 17, 94);
  margin-top:-450px; 
  font-size: 25px;

    text-shadow: 
      -1px -1px 0px black,  
      1px -1px 0px black,   
      -1px 1px 0px black,   
      1px 1px 0px black;  
  
  
  transform: translateX(-20px); /* Сдвигаем форму влево на 50px */
}
/* diplomy" */

.image-stack img {
  height: auto;
 
    display: flex;
   
    position: absolute; /* Абсолютное позиционирование */

    transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
  }

.image-stack img {
  width: 75%;
  height: auto;
  display: block;
margin-left: 50px;
margin-top: -350px;
}

.image-stack {
  position: relative; /* Устанавливаем относительное позиционирование для контейнера */
  width: 300px; /* Укажите нужную ширину */
  height: 200px; /* Укажите нужную высоту */
}


#image1 {
  opacity: 1; /* Первое изображение видно */
}


#image2, #image3 {
opacity: 0; /* Скрываем второе и третье изображение */
}


}
@media (max-width:991px){
  section{
    padding: 3rem 2rem;
  }
  .navbar a{
    font-size: 20px;
  }
  html{
    font-size: 55%;
  }
  /* Стили для текста Psihilogy */
.logo {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(to right, #ce2af3, #7bfe86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
 
    color: #333;
    text-shadow: 2px 2px 5px rgba(218, 27, 231, 0.3);
}
/*GLAVNAJa*/
  
  .glavnaja h3 {
  
  line-height: 1.6;
  font-size: 19px;
  font-weight: 600;
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  }
    /*KONTAKTY*/

  /*Diplim forma*/
  #svjaz {
    font-size: 35px;
    font-weight: 900;
    text-decoration: underline;
    color: rgb(37, 17, 94);
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 30px; /* Добавляем отступ */
    margin-top: 70px;
    height:70vh;
  }
  
  .glavnaja-text4 {
    display: flex;  
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: space-between;
 
  }
  
  .image-stack {
    flex: 1; /* Даем изображению возможность занимать место */
    display: flex;
  margin-left: 80px;
    
  }
  
  .contact-form {
    margin-inline-end:90px;
    position: relative;
   
    max-width: 350px; 

      width: 80%;

  
    
  }
  .section-title {

    color: rgb(37, 17, 94);
    margin-top:-450px; 
    font-size: 25px;
  
      text-shadow: 
        -1px -1px 0px black,  
        1px -1px 0px black,   
        -1px 1px 0px black,   
        1px 1px 0px black;  
    

  }
  .section-title h4{
    margin-right: 90px;
  }
  /* diplomy" */
  
  .image-stack img {
    height: auto;
   
      display: flex;
     
      position: absolute; /* Абсолютное позиционирование */
  
      transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
    }
  
  .image-stack img {
    width: 80%;
    height: auto;
    display: block;
  margin-left: 0;
  margin-top: -350px;
  }
  
  .image-stack {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
    width: 300px; /* Укажите нужную ширину */
    height: 200px; /* Укажите нужную высоту */
  }
  
  
  #image1 {
    opacity: 1; /* Первое изображение видно */
  }
  
  
  #image2, #image3 {
  opacity: 0; /* Скрываем второе и третье изображение */
  }
  
}
@media (max-width:890px){
  section{
    padding: 1rem 1rem;
  }
  html{
    font-size: 55%;
  }
  /* Стили для текста Psihilogy */
.logo {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(to right, #ce2af3, #7bfe86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
 
    color: #333;
    text-shadow: 2px 2px 5px rgba(218, 27, 231, 0.3);
}
  /*ГЛАВНАЯ*/
  .glavnaja h1 {
    font-size: 23px;
   
    }
  
    .glavnaja h2 {
    font-size: 18px;
    
    }
    .glavnaja h3 {
    line-height: 1.6;
    font-size: 17px;
    }

/*УСЛУГИ**/
  .text h2 {
  font-size: 22px;
  margin-left: 20px;
margin-bottom: 10px;
  }
 
  .text p {
  font-size: 15px;
margin: 0 50px;
  line-height: 1.2;
  }

  
   /*Diplim forma*/
  #svjaz {
    font-size: 35px;
    font-weight: 900;
    text-decoration: underline;
    color: rgb(37, 17, 94);
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 30px; /* Добавляем отступ */
    margin-top: 70px;
    height:70vh;
  }
  
  .glavnaja-text4 {
    display: flex;  
  justify-content: space-between;
 
  }
  
  .image-stack {
    flex: 1; /* Даем изображению возможность занимать место */
    display: flex;
  margin-left: 80px;
    
  }
  
  .contact-form {
   
    max-width: 350px; 

      width: 90%; /* dlina strochek formy*/

  
    
  }
  .section-title {
width: 40%;
margin-right: auto;
    color: rgb(37, 17, 94);
    margin-top:-450px; 
    font-size: 20px;
    white-space: nowrap; /* Запрещает перенос текста */
      text-shadow: 
        -1px 1px 0px black,  
        1px 1px 0px black,   
        -1px 1px 0px black,   
        1px 1px 0px black;  
  


  }

  /* diplomy" */
  
  .image-stack img {
    height: auto;
   
      display: flex;
     
      position: absolute; /* Абсолютное позиционирование */
  
      transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
    }
  
  .image-stack img {
    width: 80%;
    height: auto;
    display: block;
  margin-left: 0;
  margin-top: -350px;
  }
  
  .image-stack {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
    width: 300px; /* Укажите нужную ширину */
    height: 200px; /* Укажите нужную высоту */
  }
  


  }
@media (max-width:768px){
  section{
    padding: 3rem 5%;

  }
  .header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--white);
    border-top:var(--border) ;
    box-shadow: var(--box-shadow);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 1%);
transition: 0.5s;
  }
  .header .navbar a{
    display: block;
    margin: 2rem 0;
  }
  #menu{
display: block;
  
}
.header .navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


/*заканчивается боковое меню*/

/*ГЛАВНАЯ*/

  .glavnaja h1 {
    font-size: 19px;
    padding-top: 70px;
    font-weight: 800;
    }
    
    .glavnaja h2 {
    font-size: 17px;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
    
     text-align: center;
    
    }
    
    .glavnaja h3 {
    
    line-height: 1.6;
    font-size: 17px;
    font-weight: 700;
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    }

/*Услуги*/
.glavnaja-text1 h3 {
font-size: 19px;
line-height: 1.5;
}
.text h2 {
  font-size: 18px;
  margin-left: 30px;
margin-bottom: 10px;
  }
  
  .text p {
  font-size: 14px;
margin: 0 30px;
  line-height: 1.5;
  }
  .video-container video {
    width: 70%;
    margin-top: 10px;
  
  }
  .styled-text::before {
 
    font-size: 25px; /* Размер точки */
    
  }
     /*<!--КОНТАКТЫ-->*/
  #kontakty {
    font-size: 35px; /* Further reduce font size for compact screens */
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    margin-right: 50px;
    text-decoration: underline; /* Добавляет подчеркивание текста */
    margin-top:40px;
    line-height: 1.7;
    color: rgb(37, 17, 94);
    text-align: center;

  
  }
  .image2 {
    display: block;
    width: 100%;
    height: auto; /* Высота изменяется в зависимости от содержимого */
    max-width: 770px;
    height: 75vh;
    object-fit: contain;
    margin: 0 auto;
    text-align: center;
    object-fit: fill;
 

}
  .glavnaja-kontakty1 {
    margin-left: 100px;
    padding-bottom: 300px; /* Добавляет пространство ниже */
}

 
    
    .image2 {
      display: block;
      width: 100%;
      height: auto; /* Высота изменяется в зависимости от содержимого */
      max-width: 1100px;
      height: 80vh;
      object-fit: contain;
      margin: 0 auto;
      text-align: center;
   
  
  
}


/* Форма обратной связи */

#svjaz{
  margin-top: 20px;
  font-size: 27px;
  margin-left: 50px;

}
}
@media (max-width: 720px) {
  /*KONTAKTY*/
  .image2 {
    
   margin-top:-50px; /* Смещение вниз на 100px */
  
    
}
}
@media (max-width: 640px) {
    .glavnaja-text4 {
      display: flex;
      flex-direction: column; /* Элементы становятся вертикальными */
      align-items: center; /* Центрируем элементы */
      justify-content: center; /* Выравниваем их */
    }

  
    .section-title {
      text-align: center; /* Центрируем текст */
      margin: 0 auto; /* Центрируем блок */
      width: 80%; /* Ограничиваем ширину */
    
      
}
.section-title h4{
  color: rgb(37, 17, 94);
margin-top: -40px;
  font-size: 25px;
margin-left:150px;
    text-shadow: 
      -1px -1px 0px black,  
      1px -1px 0px black,   
      -1px 1px 0px black,   
      1px 1px 0px black;  
}

/* diplomy" */


/*ГЛАВНАЯ*/

.glavnaja h1 {
  font-size: 16px;
  padding-top: 70px;
  font-weight: 900;
  margin-left: 10px;
  margin-right:10px ;
  }
  
  .glavnaja h2 {
  font-size: 15px;
  font-weight: 700;
  margin-left: 30px;
  margin-right: 30px;
  
   text-align: center;
  
  }
  
  .glavnaja h3 {
  
  line-height: 1.4;
  font-size: 17px;
  font-weight: 700;
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  
}
/* Форма обратной связи */

#svjaz{
  margin-top: 10px;
  font-size: 27px;
  margin-left: 50px;

}


 
    .contact-form {
      width: 80%; /* Уменьшаем ширину формы, чтобы лучше центрировать */
margin-left:90px;
margin-top: -10px;
margin-bottom: 50px;
    }
  
    .image-stack {
  
      margin: 0 auto; /* Центрируем форму */
    }

.section-title h4{
  color: rgb(37, 17, 94);
margin-top: -40px;
  font-size: 25px;
margin-left:100px;
    text-shadow: 
      -1px -1px 0px black,  
      1px -1px 0px black,   
      -1px 1px 0px black,   
      1px 1px 0px black;  
}

/* diplomy" */
.image-stack img {
  height: auto;
 
    display: flex;
   
    position: absolute; /* Абсолютное позиционирование */

    transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
  }

.image-stack img {
  width: 80%;
  height: auto;
  display: block;
margin-left: 50px;
margin-top: -400px;
}

.image-stack {
  position: relative; /* Устанавливаем относительное позиционирование для контейнера */
  width: 300px; /* Укажите нужную ширину */
  height: 200px; /* Укажите нужную высоту */



}


  /*KONTAKTY*/
  .image2 {

   
   margin-top:-70px; /* Смещение вниз на 100px */
  
}
}
@media (max-width:540px){
  section{
    padding: 3rem 5%;

  }
/*ГЛАВНАЯ*/

.glavnaja h1 {
  font-size: 15px;
  padding-top: 70px;
  font-weight: 900;
  margin-left: 10px;
  margin-right:10px ;
  }
  
  .glavnaja h2 {
  font-size: 14px;
  font-weight: 700;
  margin-left: 30px;
  margin-right: 30px;
  
   text-align: center;
  
  }
  
  .glavnaja h3 {
  
  line-height: 1.4;
  font-size: 16px;
 
  }
/*Услуги*/
.glavnaja-text1 h3 {
  font-size: 15px;
  line-height: 1.5;
  }
  .text h2 {
    font-size: 14px;
    margin-left: 5px;
  margin-bottom: 10px;
    }
    
    .text p {
    font-size: 12px;
  margin: 0 30px;
    line-height: 1.5;
    }
    /* КОНТАКТЫ*/
    #kontakty {
      font-size: 35px; /* Further reduce font size for compact screens */
      white-space: nowrap;
      overflow: hidden;
      font-weight: 900;
      margin-right: 50px;
      text-decoration: underline; /* Добавляет подчеркивание текста */
      margin-top: 50px;
      line-height: 1.7;
      color: rgb(37, 17, 94);
      text-align: center;
  
    
    }
    .glavnaja-kontakty1 {
      margin-left: 100px;
      padding-bottom: 300px; /* Добавляет пространство ниже */
  }
  /*KONTAKTY*/
    .image2 {
     margin-top:-90px; /* Смещение вниз на 100px */
  }

  /* Форма обратной связи */
  .glavnaja-text4 {
    display: flex;
    flex-direction: column; /* Элементы становятся вертикальными */
    align-items: center; /* Центрируем элементы */
    justify-content: center; /* Выравниваем их */
  }


  .section-title {
    text-align: center; /* Центрируем текст */
    margin: 0 auto; /* Центрируем блок */
    width: 100%; /* Ограничиваем ширину */
  
    
}
.section-title h4{
color: rgb(37, 17, 94);
margin-top: -40px;
font-size: 25px;
margin-left:150px;
  text-shadow: 
    -1px -1px 0px black,  
    1px -1px 0px black,   
    -1px 1px 0px black,   
    1px 1px 0px black;  
}

/* diplomy" */


/* Форма обратной связи */

#svjaz{
margin-top: 10px;
font-size: 25px;
margin-left: -10px;

}



  .contact-form {
    width: 80%; /* Уменьшаем ширину формы, чтобы лучше центрировать */
margin-left:90px;
margin-top: -10px;
margin-bottom: 50px;
  }

  .image-stack {

    margin: 0 auto; /* Центрируем форму */
  }

.section-title h4{
color: rgb(37, 17, 94);
margin-top: -40px;
font-size: 25px;
margin-left:100px;
  text-shadow: 
    -1px -1px 0px black,  
    1px -1px 0px black,   
    -1px 1px 0px black,   
    1px 1px 0px black;  
}

/* diplomy" */
.image-stack img {
height: auto;

  display: flex;
 
  position: absolute; /* Абсолютное позиционирование */

  transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
}

.image-stack img {
width: 80%;
height: auto;
display: block;
margin-left: 20px;
margin-top: -400px;
}

.image-stack {
position: relative; /* Устанавливаем относительное позиционирование для контейнера */
width: 300px; /* Укажите нужную ширину */
height: 200px; /* Укажите нужную высоту */



}

}
@media (max-width:470px){
  /*ГЛАВНАЯ*/

.glavnaja h1 {
  font-size: 14px;
  padding-top: 60px;
  font-weight: 800;
  margin-left: 10px;
  margin-right:10px ;
  }
  
  .glavnaja h2 {
  font-size: 13px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  
   text-align: center;
  
  }
  
  .glavnaja h3 {
  
  line-height: 1.5;
  font-size: 15px;
  font-weight: 700;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  }
 
 /*KONTAKTY*/
 .image2 {
  margin-top:-90px; /* Смещение вниз на 100px */
}

/* Форма обратной связи */
.glavnaja-text4 {
 display: flex;
 flex-direction: column; /* Элементы становятся вертикальными */
 align-items: center; /* Центрируем элементы */
 justify-content: center; /* Выравниваем их */
}


.section-title {
 text-align: center; /* Центрируем текст */
 margin: 0 auto; /* Центрируем блок */
 width: 100%; /* Ограничиваем ширину */

 
}
.section-title h4{
color: rgb(37, 17, 94);
margin-top: -40px;
font-size: 25px;
margin-left:150px;
text-shadow: 
 -1px -1px 0px black,  
 1px -1px 0px black,   
 -1px 1px 0px black,   
 1px 1px 0px black;  
}

/* diplomy" */


/* Форма обратной связи */

#svjaz{
margin-top: -50px;
font-size: 25px;
margin-left: -10px;

}



.contact-form {
 width: 80%; /* Уменьшаем ширину формы, чтобы лучше центрировать */
margin-left:90px;
margin-top: -10px;
margin-bottom: 50px;
}

.image-stack {

 margin: 0 auto; /* Центрируем форму */
}

.section-title h4{
color: rgb(37, 17, 94);
margin-top: -40px;
font-size: 25px;
margin-left:100px;
text-shadow: 
 -1px -1px 0px black,  
 1px -1px 0px black,   
 -1px 1px 0px black,   
 1px 1px 0px black;  
}

/* diplomy" */
.image-stack img {
height: auto;

display: flex;

position: absolute; /* Абсолютное позиционирование */

transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
}

.image-stack img {
width: 80%;
height: auto;
display: block;
margin-left: 20px;
margin-top: -400px;
}

.image-stack {
position: relative; /* Устанавливаем относительное позиционирование для контейнера */
width: 300px; /* Укажите нужную ширину */
height: 200px; /* Укажите нужную высоту */



}

}
@media (max-width:430px){

/*ГЛАВНАЯ*/

.glavnaja h1 {
  font-size: 14px;
  padding-top: 55px;
  font-weight: 700;
  margin-left: 5px;
  margin-right:5px ;
  }
  
  .glavnaja h2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  
   text-align: center;
  margin-top: -10px;
  }
  
  .glavnaja h3 {
  
  line-height: 1.5;
  font-size: 15px;
  font-weight: 700;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  }
/*Услуги*/
.glavnaja-text1 h3 {
  font-size: 13px;
  line-height: 1.5;
  }
  .text h2 {
    font-size: 13px;
    margin-left: 5px;
  margin-bottom: 10px;
    }
    
    .text p {
    font-size: 11px;
  margin: 2px 30px;
    line-height: 1.3;
    }
   
 /*KONTAKTY*/
 .image2 {
  margin-top:-90px; /* Смещение вниз на 100px */
}


/* Форма обратной связи */
.glavnaja-text4 {
  display: flex;
  flex-direction: column; /* Элементы становятся вертикальными */
  align-items: center; /* Центрируем элементы */
  justify-content: center; /* Выравниваем их */
  margin: 0;
  

    text-indent: -30px; /* Сдвигает текст влево */
    padding-left: 10px; /* И добавляет общий отступ справа */
  
  
 }

.section-title h4{
color: rgb(37, 17, 94);
margin-top: -40px;
font-size: 20px;

text-shadow: 
 1px 1px 0px black,  
 1px 1px 0px black,   
 1px 1px 0px black,   
 1px 1px 0px black;  
}




/* Форма обратной связи */

#svjaz{
margin-top: -50px;
font-size: 25px;
margin-left: -10px;

}



.contact-form {
 width: 70%; /* Уменьшаем ширину формы, чтобы лучше центрировать */
margin-left:90px;
margin-top: -10px;
margin-bottom: 50px;
}

.image-stack {

 margin: 0 auto; /* Центрируем форму */
}

.section-title h4{
color: rgb(37, 17, 94);
margin-top: -40px;
font-size: 25px;
margin-left:100px;
text-shadow: 
 -1px -1px 0px black,  
 1px -1px 0px black,   
 -1px 1px 0px black,   
 1px 1px 0px black;  
}

/* diplomy" */
.image-stack img {
height: auto;

display: flex;

position: absolute; /* Абсолютное позиционирование */

transition: opacity 0.5s ease-in-out; /* Плавная смена изображений */
}

.image-stack img {
width: 80%;
height: auto;
display: block;
margin-left: 20px;
margin-top: -400px;
}

.image-stack {
position: relative; /* Устанавливаем относительное позиционирование для контейнера */
width: 300px; /* Укажите нужную ширину */
height: 200px; /* Укажите нужную высоту */



}



}