/* Объявление переменных */
:root {
  --black: rgb(37, 17, 94);
  --white: rgb(231, 225, 225);
  --hover: #cd28f7;
  --border: .1rem solid rgba(0, 0, 0, .1);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

/* Сброс стандартных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

/* Основной фон */
body {
  background-image: url('fon5.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(231, 225, 225, 0.6);
  background-blend-mode: lighten;
}

/* Общие стили */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  padding: 1rem 10%;
}

/* Шапка */
.header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 70px;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--black);
  transition: 0.5s;
  text-transform: capitalize;
}

.header .navbar a:hover {
  color: var(--hover);
}

#menu {
  font-size: 3.5rem;
  cursor: pointer;
  display: none;
}

/* Логотип */
.logo {
  font-size: 27px;
  font-weight: bold;
  background: linear-gradient(to right, #ce2af3, #7bfe86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(218, 27, 231, 0.3);
}

.logo img {
  height: 70px;
}

/* Главная */
.glavnaja {
  background: url(woman2.webp) no-repeat center center;
  background-size: cover;
  width: 100vw; /* Полная ширина экрана */
  height: 100vh; /* Полная высота экрана */
  margin: 0; /* Убираем лишние отступы */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.glavnaja h1 {
  font-size: 35px;
  color: var(--black);
  text-align: center;
  padding-top: 120px;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 50px;
}

.glavnaja h2 {
  line-height: 1.7;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  color: var(--black);
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
}
/*видео*/
/* Контейнер терапии */
.therapy-container {
  background: rgba(231, 225, 225, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.therapy-title {
  font-size: 35px;
  color: rgb(68, 9, 84);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.therapy-container h2{
  font-size: 20px;
  color: rgb(37, 17, 94);
  font-weight: 700;
  margin-bottom: 20px;
}
.therapy-container p {
  margin-top: 20px;
  font-size: 15px;
  color: rgb(37, 17, 94);
  line-height: 1.8;
  margin-bottom: 15px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border: 2px solid rgb(147, 32, 183); /* Постоянная рамка */
  background: rgba(231, 225, 225, 0.6); /* Легкий фон */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Мягкая тень */
  border: 2px solid transparent; /* Исходное состояние делает рамку изначально не видемой */
}

.therapy-container p:hover {
  transform: scale(1.05); /* Легкое увеличение */
  border-color: rgb(147, 32, 183); /* Подсветка рамки */
  background: rgba(231, 225, 225, 0.8); /* Мягкий фон */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Добавление тени */
}
/* Контейнер информации */
.glavnaja-text2 {
  background: rgba(231, 225, 225, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.glavnaja-text2 h1 {
  font-size: 35px;
  font-weight: bold;
  color: rgb(37, 17, 94);
  margin-bottom: 30px; /* Увеличение расстояния между заголовком и контентом */
}

.glavnaja-text2 p {
  font-size: 20px;
  color: rgb(37, 17, 94);
  line-height: 1.7;
  width: 100%;
  text-align: justify; /* Равномерное распределение текста */
  padding: 10px;
}

/* Блок для видео */
.video-container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(231, 225, 225, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
}

.video-container-info video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Услуги */
#uslugi {
  margin-top: 50px;
  font-size: 35px;
  color: var(--black);
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
}

.glavnaja-text1 h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--black);
  text-align: center;
  width: 100%;
  background: linear-gradient(180deg, rgba(231, 225, 225, 0.9), rgba(151, 99, 236, 0.3));
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}
/* Контейнер */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  background: rgba(231, 225, 225, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Заголовки */
.text h2 {
  color: rgb(68, 9, 84);
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Абзацы */
.styled-text {
  font-size: 20px;
  color: rgb(37, 17, 94);
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 15px;
}

/* Эффект для стилизованного текста */
.styled-text::before {
  content: "✔ ";
  color: rgb(68, 9, 84);
  font-size: 22px;
  font-weight: bold;
}
.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.video-container video {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Контакты */

.glavnaja-text3 {
  background: rgba(231, 225, 225, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

/* Заголовок "Контакты" */
.glavnaja-text3 h1 {
  font-size: 35px;
  font-weight: bold;
  color: rgb(37, 17, 94);
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Контейнер рамки */
.kontakty_ramka {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(231, 225, 225, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
}

/* Блок информации о психологе */
.glavnaja-kontakty {
  font-size: 22px;
  font-weight: 700;
  color: rgb(37, 17, 94);
  text-align: center;
  margin-bottom: 20px;
}

/* Описание психологической поддержки */
.glavnaja-kontakty1 {
  background: rgba(231, 225, 225, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.glavnaja-kontakty h5{
  font-size: 20px;
  color: rgb(37, 17, 94);
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 15px;
}
.intro__kontakty {
  font-size: 15px;
  color: rgb(37, 17, 94);
  line-height: 1.8; /* Увеличенный интервал между строками для удобства чтения */
  width: 100%; /* Заполняет всю ширину контейнера */
  text-align: justify; /* Выравнивание текста по краям */
  padding: 15px; /* Добавляет внутренние отступы */
}


/* Фото */
.image2 {
  width: 200px; /* Устанавливает ширину */
  height: 200px; /* Устанавливает высоту для квадратной формы */
  object-fit: cover; /* Обрезает изображение так, чтобы оно заполняло весь контейнер */
  border-radius: 20px; /* Скругляет углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Добавляет небольшую тень для эффекта */
}


/* Контактная информация */
.vstrechy {
  font-size: 20px;
  font-weight: bold;
  color: rgb(37, 17, 94);
  text-align: center;
  background: rgba(231, 225, 225, 0.8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.whatsApp {
  font-size: 18px;
  color: rgb(147, 32, 183);
  font-weight: bold;
  margin-top: 10px;
}


/* Основной стиль для раздела "обратная связь" */




.feedback-section {/* Основной стиль для раздела "обратная связь" */
  margin-top: 50px;
  padding:10px;
  background: linear-gradient(to bottom, rgba(231, 225, 225, 0.8), rgba(106, 13, 173, 0.4));
}

#svjaz {
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
  color: rgb(37, 17, 94);
  text-align: center;
  margin-bottom: 30px;
}


  /* Контейнер для формы и диплома */
.glavnaja-text4 {
  display: flex;
  align-items: center; /* Выравнивание по центру */
  justify-content: space-between; /* Равномерное распределение */
  gap: 40px; /* Расстояние между дипломом и формой */
  padding: 50px;
  width: 80%;
  margin: 50px auto;
  background: rgba(231, 225, 225, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Диплом */
.image-stack {
  width: 1100px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-stack img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Оставляет всю картинку видимой */
  border-radius: 15px; /* Скругленные углы */
 
  background-color: rgba(231, 225, 225, 0.9);
}


/* Заголовок и форма */
.section-title {
  width: 100%;
  text-align: center;
}

.centered-title {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* Форма */
/* Форма обратной связи */
.contact-form,
.contact-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10px;
  width: 100%;
}

/* Поля формы */
.contact-input {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: #3a014a; /* Темный фон */
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border: none;
}

.contact-input::placeholder {
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.2;
}

/* Текстовое поле */
.contact-form textarea {
  height: 10rem;
  resize: none;
}

/* Сообщение формы */
.contact-messaged {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

/* Кнопка */
.button {
  display: inline-block;
  width: 18rem;
  font-size: 1.6rem;
  background-color: dodgerblue;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 8px 25px rgb(38, 0, 49);
}



/*FOOter*/
footer {
  background-color: var(--white);
  color: #b014be;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content ul.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.footer-content ul.socials li {
  margin: 0 10px;
}

.footer-content ul.socials a {
  color: #b014be;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
}


@media (max-width:768px){
  section{
    padding: 3rem 5%;

  }
  
  
    .header .navbar a {
      display: block ;
      margin: 1.5rem 0;
      padding: 0.8rem 1.2rem;
      border: 2px solid var(--black);
      background-color: rgb(251, 238, 249); /* Цвет заливки */
      border-radius: 80px 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
      text-align: center;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
  
    .header .navbar a:hover {
      background-color: var(--primary-color);
      color: var(--hover);
      transform: scale(1.05);
    
  }
  
  .header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--white);
    border-top:var(--border) ;
    box-shadow: var(--box-shadow);
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 1%);
transition: 0.5s;
  }
 
  #menu{
display: block;
  
}
.header .navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.glavnaja {
  background: url(woman2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 100vh;
  margin-top: 45px;
}

.glavnaja h1 {
  font-size: 30px;
  color: var(--black);
  text-align: center;
  padding-top: 120px;
  font-weight: 800;
  margin-left: 10px;
  margin-right: 10px;
}

.glavnaja h2 {
  line-height: 1.5;
  font-size: 23.5px;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  color: var(--black);
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}
}
@media (max-width:430px){

/*ГЛАВНАЯ*/

.glavnaja {
  background: url(woman2.webp) no-repeat center center;
  background-size: cover;
  width: 100vw; /* Полная ширина экрана */
  height: 100vh; /* Полная высота экрана */
  margin: 0; /* Убираем лишние отступы */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glavnaja h1 {
  font-size: 14px;
  padding-top: 35px;
  font-weight: 700;
  margin-left: 5px;
  margin-right:5px ;
  }
  
  .glavnaja h2 {
  font-size: 23px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  
   text-align: center;
  margin-top: -10px;
  }
  

  
}